.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
    width: 100vw;
  }
  
  .form-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    /* margin: auto; */
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group input[type="number"],
  .form-group input[type="datetime-local"],
  .form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-group label input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .form-group .error {
    color: red;
    font-size: 12px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: black;
    border: 2px solid blue;
    border-radius: 4px;
    color: black;
    font-size: 16px;
    cursor: pointer;
    /* background-color: #0056b3;
    background: none; */
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .summary {
    margin-top: 20px;
  }
  
  .summary ul {
    list-style-type: none;
    padding: 0;
  }
  
  .summary li {
    background: #f1f1f1;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 4px;
  }
  